{% extends 'base.html.twig' %}

{% block title %} Visiteur {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h2> Fiche Frais </h2>

{% if ficheFrais is empty %}

<p> aucune fiche de frais n'est renseigner pour cette date donner. Vous allez être rediriger vers la page principale.</p>

<script type="text/javascript">
var durrest = 5;
function compt()
{
    document.getElementById("compt").innerHTML=durrest;
    durrest -= 1;
    setTimeout(compt, 1000)
}
</script>
Redirection dans <script><span id="compt"></span></script> seconde

<meta http-equiv="refresh" content="5; URL=/visiteur" />

{% else %}

<table style="border: solid; margin-right: auto; margin-left: auto">
    <thead>
        <tr>
            <th style="border: 1px solid black; text-align: center">mois</th>
            <th style="border: 1px solid black; text-align: center">nombre justificatifs</th>
            <th style="border: 1px solid black; text-align: center">montant valide</th>
            <th style="border: 1px solid black; text-align: center">date de modification</th>
            <th style="border: 1px solid black; text-align: center">etat</th>
        </tr>

    </thead>
    <tr>
        <td style="border: 1px solid black; text-align: center">{{ ficheFrais[0][1] }}</td>
        <td style="border: 1px solid black; text-align: center">{{ ficheFrais[0][2] }}</td>
        <td style="border: 1px solid black; text-align: center">{{ ficheFrais[0][3] }}</td>
        <td style="border: 1px solid black; text-align: center">{{ ficheFrais[0][4] }}</td>
        <td style="border: 1px solid black; text-align: center">{{ ficheFrais[0][5] }}</td>
    </tr>

</table>

{% endif %}

{% endblock %}
